[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IPENGR
[access "refs/for/refs/*"]
	read = group user/IPENGR
	push = group user/IPENGR
	label-Code-Review = -2..+2 group user/IPENGR
	label-Verified = -1..+1 group user/IPENGR
	rebase = group user/IPENGR
	removeReviewer = group user/IPENGR
	submit = group user/IPENGR
[access "refs/heads/*"]
	read = group user/IPENGR
	create = group user/IPENGR
	push = +force group user/IPENGR
	pushMerge = group user/IPENGR
[access "refs/tags/*"]
	push = +force group user/IPENGR
	pushTag = group user/IPENGR
	pushSignedTag = group user/IPENGR
